.headertext{
    background-color: #007A33;
    color: white;
}


.jumbotron {
    display:flex;
    align-items: center;
    background-image: url('https://cdn.vox-cdn.com/thumbor/m3YCDZRiU3HtbrTMcX1LgYn_Acg=/0x0:4924x3517/1200x800/filters:focal(2593x223:3379x1009)/cdn.vox-cdn.com/uploads/chorus_image/image/52851853/usa_today_9601713.0.jpg');
    background-size: cover;
    color: #ffffff;
    height: 800px;
    text-shadow: 0.25px 0.25px 0.25px #000000;

}

.jaylenlebron {
    height:350px;
    display: block;
    margin: 0 auto;
}


.headercenter{
    text-align:center;
}

.h2jaylenheader{
    color:#ffffff;
    text-transform:uppercase;
}

.h3jaylenheader{
    color:#ffffff;
}

.gamewinner{
    display: block;
    margin: 0 auto;
}


